.App {
  font-family: sans-serif;
padding-top: 20px;}

.App .weather-app{
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
    color: rgb(135, 135, 135);
}

.App h1 {
 font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}
.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.App .overview {
  margin-bottom: 20px;
}

.App .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.App .weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.App .weather-temperature .units {
  position: relative;
  font-size: 16px;
    line-height: 1;
  top: -36px;
}
